<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<style type="text/css">
      .table_title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .cy-container{
        padding-left: 5%;
        padding-right: 5%;
        min-height: 1500px;
      }
      #cy0{
        border-right: 3px solid #b2b2b2;
      }
</style>
<% include ../partial/nav %>
<div class="body_contents">
<div class="container">
  <div class="jumbotron question">
    <h1>QUESTION 1)</h1>
    <h2>주제 <strong>'<%=topic%>'</strong>에 대해 지도 A와 지도 B중 어떤 지도가 주제에 대한 전체 내용을 잘 다루고 있습니까?</h2>
    <%
      var tlist = {'포항 지진':'포항지진 발생과 복구, 포항지진으로 인한 수능연기, 포항지진에 대한 정부의 대응','신생아 집단 사망 사건':'신생아 집단 사망 사건 발생과 원인','랜섬웨어':'랜섬웨어로 인한 피해, 랜섬웨어 피해예방','북한관련 국내외 정세':'북미관계,한중 사드 갈등, 북한 관련 국내 정치 추이,'}
    %>
    <p>대표 내용 : <%=tlist[topic]%></p>

    <h4>사용방법)</h4>
    <h4>* 지도에서 기사는 노드로 표시되며 노드를 좌클릭하면 기사 내용이 아래에 나옵니다.</h4>
    <h4>* 지도는 마우스 스크롤을 통해 확대,축소가 가능합니다.</h4>
    <h4>* 노드는 드래그앤드랍을 통해 위치를 이동할 수 있습니다.</h4>
    <h4>* 제목만 가지고 구분이 잘 안되는 경우 기사의 내용을 잘 읽고 질문에 답해주세요.</h4>
    <br/>
    <p>선택하고자하는 지도에 해당하는 버튼을 클릭하세요</p>

    <div class="answers">
      <form action="/sendQ1" method="post">
        <div class="btn-group">
          <label class="btn btn-default btn-lg">
              <input type="radio" name="Map" value="MapA" autofocus="true"/> 지도 A
          </label>
          <label class="btn btn-default btn-lg">
              <input type="radio" name="Map" value="MapB" /> 지도 B
          </label>
        </div>

        <button class="btn btn-lg">Next</button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  $(function () {
       // When your submit button is clicked
       $("form").submit(function (e) {
           // If it is not checked, prevent the default behavior (your submit)
           if (!$('input[name="Map"]').is(':checked')) {
               alert("선택하고자하는 지도에 해당하는 버튼을 클릭해주세요!");
               e.preventDefault();
           }
       });
   });
  </script>
</div>

<div class="cy-container">
  <div class="row">
    <%
    for(var i=0; i<dataset.length; i++){ %>
    <div class="col-sm-6" id="datadiv<%=i%>" value="<%=dataset[i]%>">
      <div class="row" >
        <div class="col-lg-12 table_title">
          지도 <%=String.fromCharCode('A'.charCodeAt(0)+i)%>
        </div>
        <div class="col-lg-12 cy" id="cy<%=i%>">

        </div>
        <div class="col-lg-12 text-center">
          <h2 id="title<%=i%>"></h2>
          <h4 id="date<%=i%>"></h4>
          <p class="article-content text-center" id="contents<%=i%>">
            뉴스를 클릭하시면 기사를 살펴볼 수 있습니다
          </p>
        </div>
      </div>
    </div>
    <%}
    %>
  </div>
</div>

<script src="/ujs/cyto0.js"></script>
<script src="/ujs/cyto1.js"></script>
<% include ../partial/footer %>
