<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<style type="text/css">
      .table_title{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
      .cy-container{
        padding-left: 5%;
        padding-right: 5%;
        min-height: 1500px;
      }
      #cy0{
        border-right: 3px solid #b2b2b2;
      }
</style>
<% include ../partial/nav %>
<div class="body_contents">
<div class="container">
  <div class="jumbotron question">
    <h1>QUESTION1)</h1>
    <h2>주제 '<%=topic%>'에 대해 맵 A와 맵 B중 어떤 맵이 주제에 대한 전체 내용을 잘 다루고 있습니까?</h2>
    <p>맵에 해당하는 버튼을 클릭하세요</p>

    <div class="answers">
      <form action="/sendQ1" method="post">
        <div class="btn-group">
          <label class="btn btn-default btn-lg">
              <input type="radio" name="Map" value="MapA" autofocus="true"/> Map A
          </label>
          <label class="btn btn-default btn-lg">
              <input type="radio" name="Map" value="MapB" /> Map B
          </label>
        </div>

        <button class="btn btn-lg">Next</button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
  $(function () {
       // When your submit button is clicked
       $("form").submit(function (e) {
           // If it is not checked, prevent the default behavior (your submit)
           if (!$('input[name="Map"]').is(':checked')) {
               alert("해당하는 맵의 버튼을 선택해주세요!");
               e.preventDefault();
           }
       });
   });
  </script>
</div>

<div class="cy-container">
  <div class="row">
    <%
    for(var i=0; i<dataset.length; i++){ %>
    <div class="col-sm-6" id="datadiv<%=i%>" value="<%=dataset[i]%>">
      <div class="row" >
        <div class="col-lg-12 table_title">
          Map<%=String.fromCharCode('A'.charCodeAt(0)+i)%>
        </div>
        <div class="col-lg-12 cy" id="cy<%=i%>">

        </div>
        <div class="col-lg-12 text-center">
          <h2 id="title<%=i%>"></h2>
          <h4 id="date<%=i%>"></h4>
          <p class="article-content text-center" id="contents<%=i%>">
            뉴스를 클릭하시면 기사를 살펴볼 수 있습니다
          </p>
        </div>
      </div>
    </div>
    <%}
    %>
  </div>
</div>

<script src="/ujs/cyto0.js"></script>
<script src="/ujs/cyto1.js"></script>
<% include ../partial/footer %>
