<% include ../partial/header %>
<link rel="stylesheet" href="/ucss/common.css">
<style type="text/css">
      .answers{
          height: 100px;
          overflow-y: scroll;
        }
</style>
<% include ../partial/nav %>
<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function(event) {
    history.go(1);
  };
</script>
<div class="body_contents">
<div class="container">
  <div class="jumbotron question">
    <h1>Question <%=1+now%>.<%=1+idx%>)</h1>
    <h2>'<%=topic%>'에 대해 지도 <%=String.fromCharCode('A'.charCodeAt(0)+idx)%>에서 타임라인이 교차하는 지점 중 각 타임라인들의 속성을 모두 반영하지 못하는 교차점을 고르세요.</h2>
    <%
      var next = "Next";
      if(idx === 1)
        next = "제출하기";
      %>
    <%if(con===1){%>
      <p>연결지점이 없으므로 선택하지 않습니다.
      <%=next%>버튼을 눌러주세요.</p>
    <%}else{%>
      <h4>사용방법)</h4>
      <h4>* 지도에서 기사는 노드로 표시되며 노드를 좌클릭하면 기사 내용이 아래에 나옵니다.</h4>
      <h4>* 지도는 마우스 스크롤을 통해 확대,축소가 가능합니다.</h4>
      <h4>* 노드는 드래그앤드랍을 통해 위치를 이동할 수 있습니다.</h4>
      <h4>* 질문에 해당하는 교차하는 기사 노드를 <b>우클릭</b>하여 선택할 수 있습니다.</h4>
      <h4>* 선택된 기사를 다시 한번 <b>우클릭</b>하면 선택이 취소됩니다.</h4>
      <h4>* 기사의 내용을 잘 읽고 질문에 답해주세요.</h4>
    <h4>* 교차하는 기사 노드는 <b>노란색 노드</b>로 표시됩니다.</h4>
    <%}%>
    <form action="/sendQ4" method="post">

      <div class="answers" id ="conn">

      </div>
      <input type="hidden" name="Con_articles" id="Con_articles">
      <input type="hidden" name="Con_articlesN" id="Con_articlesN">

      <button class="btn btn-lg"><%=next%></button>
    </form>
  </div>

    <div class="container">
      <div class="cy" id="cy" value="<%=dataset%>">

      </div>
    </div>

    <div class="container" >
      <div class="title text-center">
        <h2 id="title"></h2>
        <h4 id="date"></h4>
      </div>
      <p class="article-content text-center" id="contents">
        뉴스를 클릭하시면 기사를 살펴볼 수 있습니다
      </p>
    </div>
</div>

<script src="/ujs/conncyto.js"></script>
<% include ../partial/footer %>
